@import "../styles-variables";

.navbar {

  // border-bottom: 1px solid $primary;
  // border-top: 4px solid $primary;
  // box-shadow: 0 0 0.9rem $primary;

  &-brand,
  &-nav .nav-link {
    text-transform: uppercase;
    font-family: $headings-font-family;
  }

  &-brand {
    margin: 0;
    line-height: $nls-navbar-brand-line-height;
    // color: $primary;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &-nav {

      @include media-breakpoint-down(sm) {
        align-items: end;
      }
    }
  }

  &-nav {
    margin: 0;

    .nav-item {
      padding-right: $spacer * 3;
      padding-left: 0;

      @include media-breakpoint-down(sm) {
        padding-right: 0;
        padding-left: $spacer;
      }
    }

    .nav-link {
      $this-primary-lighten: lighten($primary, 31%);

      font-weight: 400; //$headings-font-weight;
      letter-spacing: 1px;
      padding: 0 .5 * $spacer;
      // text-shadow: 1px 1px 0 $white;
      border-bottom: 1px solid $this-primary-lighten;
      box-shadow: inset 0 -2px 0 0 $this-primary-lighten;

      &.active,
      &:hover {
        color: $primary;
        background: $this-primary-lighten;
      }

      @include media-breakpoint-down(sm) {
        font-size: 80%;
      }

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
