<header>
  <nav>
    <ul class="link-list">
      <li>
        <a routerLink="/">Work</a>
      </li>
      <li>
        <a routerLink="/page/vita">Vita</a>
      </li>
      <li>
        <a routerLink="/page/news">News</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
  <router-outlet name="details"></router-outlet>
</main>

<footer>
  <ul class="link-list">
    <li>
      <a routerLink="/page/imprint">Imprint</a>
    </li>
    <li>
      <a routerLink="/page/disclaimer">Disclaimer</a>
    </li>
  </ul>
</footer>
