<header>
  <nav>
    <ul class="link-list">
      <li>
        <a routerLink="/">Work</a>
      </li>
      <li>
        <a routerLink="/page/vita">Vita</a>
      </li>
      <li>
        <a routerLink="/page/news">News</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section>
    Subnavigation
    <nav *ngIf="page.headlines">
      <ul class="link-list">
        <li *ngFor="let headline of page.headlines">
          <a [href]="'#' + headline.slug">{{headline.plain}}</a>
        </li>
      </ul>
    </nav>
  </section>
  <section>
    <router-outlet></router-outlet>
  </section>
  <section>
    <router-outlet name="details"></router-outlet>
  </section>
</main>

<footer>
  <ul class="link-list">
    <li>
      <a routerLink="/page/imprint">Imprint</a>
    </li>
    <li>
      <a routerLink="/page/disclaimer">Disclaimer</a>
    </li>
  </ul>
</footer>
