@import "../styles-variables";

.navbar {

  &-brand {
    margin: 0;
    line-height: $nls-navbar-brand-line-height;
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $link-hover-color;
    }
  }

  &-nav {
    margin: 0;

    .nav-item {
      padding-right: $spacer * 3;
    }

    .nav-link {
      text-transform: uppercase;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
