<header>
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="row flex-nowrap align-items-center">
      <a class="navbar-brand col-4 col-md-3 col-xl-2" routerLink="/">Sarah<br>Esser</a>
      <div class="col-8 col-md-9 col-xl-10">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/page/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/page/news"  routerLinkActive="active">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/page/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="container-fluid">
  <div class="row flex-xl-nowrap">
    <section class="col-md-3 col-xl-2 d-md-block d-none">
      <nav class="nls-sidebar pt-3" id="sub-navigation" *ngIf="headlines">
        <nls-recursive-tree [tree]="headlines" [baseHref]="currentUrl"></nls-recursive-tree>
      </nav>
    </section>
    <section class="col-12 col-md-9 col-xl-10 pt-3 pb-3"  data-spy="scroll" data-target="#sub-navigation" data-offset="0">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>

<section>
  <router-outlet name="details"></router-outlet>
</section>

<footer class="nls-footer">
  <div class="container-fluid">
    <div class="row">
      <a class="col-6 col-md-3 col-xl-2" href="https://dailysh.it" target="_blank">
        <small class="text-muted">made with ♥</small>
      </a>
      <div class="col-6 col-md-9 col-xl-10">
        <ul class="list-inline mb-0 text-muted text-right">
          <li class="list-inline-item">
            <a routerLink="/page/imprint">
              <small class="text-muted">Imprint</small>
            </a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/page/disclaimer">
              <small class="text-muted">Disclaimer</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
