// Variables
@import "styles-variables";

// Bootstrap Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/bootstrap-grid";
// Bootstrap Components
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,400,400i,500');

// Base
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: $nls-navbar-height;
  margin-bottom: $nls-footer-height;

  &.nls-overlay {
    overflow: hidden;
  }
}

a {
  transition: ease $nls-transition-duration;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:target {
    display: block;
    color: $red;
    padding-top: $nls-navbar-height + $spacer;
  }
}

// Components

.nls {

  &-sidebar {
    position: sticky;
    top: $nls-navbar-height;

    &-list {
      padding: 0;

      &-item {
        list-style-type: none;
        margin: 0;
        padding: .5 * $spacer 0;

        a {
          display: block;
          font-size: $font-size-sm;
          font-weight: 300; //$headings-font-weight;
          font-family: $headings-font-family;
          color: $red;
          text-transform: uppercase;
        }
      }
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $nls-footer-height;
    line-height: $nls-footer-height;
    background-color: $gray-100;
  }
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

// Overrides
@import "styles-overrides";
