// Variables
@import "styles-variables";

// Bootstrap Reboot
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/bootstrap-grid";
// Bootstrap Components
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500,700|Roboto:300,400,400i,500');

// Base
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: $nls-navbar-height;
  margin-bottom: $nls-footer-height;

  &.nls-overlay {
    overflow: hidden;
  }
}

a {
  transition: ease $nls-transition-duration;

  &:hover {
    text-decoration: none;
  }
}

// Components

.nls {

  &-sidebar {
    position: sticky;
    top: $nls-navbar-height;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $nls-footer-height;
    line-height: $nls-footer-height;
    background-color: $gray-100;
  }
}

// Overrides
@import "styles-overrides";
