@import "../../styles-variables";

$this-footer-height: 5rem;

.nls-details {
  z-index: $zindex-modal;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background: $white;

  article {
    height: 100%;
    position: relative;
  }

  main,
  footer {
    position: absolute;
    width: 100%;
    padding: (.5 * $spacer) ($spacer);
  }

  button {
    position: absolute;
    top: $spacer;
    right: $spacer;
    z-index: 1060;
  }

  main {
    top: .5 * $spacer;
    bottom: $this-footer-height;

    figure {
      height: 100%;
      margin: 0;

      img {
        width: auto;
        height: 100%;
        max-height: 100%;
        margin: 0 auto;
      }

      figcaption {
        font-size: $h2-font-size;
        font-weight: $font-weight-bold;
      }
    }
  }

  footer {
    height: $this-footer-height;
    bottom: 0;

    ul {
      color: $gray-600;

      li {
        margin: 0;

        &:first-child {
          &:before {
            content: '';
            padding: 0;
          }
        }

        &:before {
          content: '·';
          padding: .5 * $spacer;
        }

      }
    }
  }

  &-action {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  &-indicator {

    $this-indicator-translate: .75rem;

    min-width: 4rem;

    sup,
    sub {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
    }

    sup {
      color: $gray-600;
      transform: translateX(-$this-indicator-translate);
    }

    span {
      transform: scale(2) rotate(-45deg);
      color: $gray-500;
    }

    sub {
      color: $gray-500;
      transform: translateX($this-indicator-translate);
    }
  }
}
