<section class="nls-details">
  <article>
    <button class="btn btn-outline-primary" (click)="close()">🞩 Close</button>
    <main>
      <figure class="d-flex flex-column justify-content-between align-items-stretch" *ngIf="currentPicture">
        <img [src]="currentPicture.fullPath" [alt]="currentPicture.alt">
      </figure>
      <div class="nls-details-action d-flex justify-content-between align-items-stretch" (click)="defineCurrentPicture(currentIndex + 1)">
      </div>
    </main>
    <footer>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h3>
            {{item.title}}
          </h3>
          <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let information of item.information">{{information}}</li>
          </ul>
        </div>
        <div class="nls-details-indicator d-flex flex-column justify-content-between align-items-center">
          <sup>{{currentIndex}}</sup>
          <span>—</span>
          <sub>{{item.pictures?.length}}</sub>
        </div>
      </div>
    </footer>
  </article>
</section>
