@import "../../styles-variables";

$this-header-height: 6rem;
$this-footer-height: 8rem;

.nls-details {
  z-index: $zindex-modal;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background: $white;

  article {
    height: 100%;
    position: relative;
  }

  header,
  main,
  footer {
    position: absolute;
    background: $white;
    width: 100%;
    padding: (.5 * $spacer) ($spacer);
  }

  header {
    height: $this-header-height;

    h1 {

    }

    button {

    }
  }

  main {
    top: $this-header-height;

    figure {

      img {
        height: 200px;
        // width: 100%;
        // height: auto;
        // max-height: 100%;
        margin: 0 auto;
      }

      figcaption {

      }
    }
  }

  footer {
    max-height: $this-footer-height;
    bottom: 0;

    ul {

      li {

      }
    }
  }

  &-indicator {

    $this-indicator-translate: .75rem;

    min-width: 4rem;

    sup,
    sub {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
    }

    sup {
      color: $gray-600;
      transform: translateX(-$this-indicator-translate);
    }

    span {
      transform: scale(2) rotate(-45deg);
      color: $gray-500;
    }

    sub {
      color: $gray-500;
      transform: translateX($this-indicator-translate);
    }
  }
}
